$icomoon-font-path: "fonts" !default;

$climacons-Cloud-Download: "\e900";
$climacons-Cloud-Drizzle-Alt: "\e901";
$climacons-Cloud-Drizzle-Moon-Alt: "\e902";
$climacons-Cloud-Drizzle-Moon: "\e903";
$climacons-Cloud-Drizzle-Sun-Alt: "\e904";
$climacons-Cloud-Drizzle-Sun: "\e905";
$climacons-Cloud-Drizzle: "\e906";
$climacons-Cloud-Fog-Alt: "\e907";
$climacons-Cloud-Fog-Moon-Alt: "\e908";
$climacons-Cloud-Fog-Moon: "\e909";
$climacons-Cloud-Fog-Sun-Alt: "\e90a";
$climacons-Cloud-Fog-Sun: "\e90b";
$climacons-Cloud-Fog: "\e90c";
$climacons-Cloud-Hail-Alt: "\e90d";
$climacons-Cloud-Hail-Moon-Alt: "\e90e";
$climacons-Cloud-Hail-Moon: "\e90f";
$climacons-Cloud-Hail-Sun-Alt: "\e910";
$climacons-Cloud-Hail-Sun: "\e911";
$climacons-Cloud-Hail: "\e912";
$climacons-Cloud-Lightning-Moon: "\e913";
$climacons-Cloud-Lightning-Sun: "\e914";
$climacons-Cloud-Lightning: "\e915";
$climacons-Cloud-Moon: "\e916";
$climacons-Cloud-Rain-Alt: "\e917";
$climacons-Cloud-Rain-Moon-Alt: "\e918";
$climacons-Cloud-Rain-Moon: "\e919";
$climacons-Cloud-Rain-Sun-Alt: "\e91a";
$climacons-Cloud-Rain-Sun: "\e91b";
$climacons-Cloud-Rain: "\e91c";
$climacons-Cloud-Refresh: "\e91d";
$climacons-Cloud-Snow-Alt: "\e91e";
$climacons-Cloud-Snow-Moon-Alt: "\e91f";
$climacons-Cloud-Snow-Moon: "\e920";
$climacons-Cloud-Snow-Sun-Alt: "\e921";
$climacons-Cloud-Snow-Sun: "\e922";
$climacons-Cloud-Snow: "\e923";
$climacons-Cloud-Sun: "\e924";
$climacons-Cloud-Upload: "\e925";
$climacons-Cloud-Wind-Moon: "\e926";
$climacons-Cloud-Wind-Sun: "\e927";
$climacons-Cloud-Wind: "\e928";
$climacons-Cloud: "\e929";
$climacons-Compass-East: "\e92a";
$climacons-Compass-North: "\e92b";
$climacons-Compass-South: "\e92c";
$climacons-Compass-West: "\e92d";
$climacons-Compass: "\e92e";
$climacons-Degrees-Celcius: "\e92f";
$climacons-Degrees-Fahrenheit: "\e930";
$climacons-Moon-First-Quarter: "\e931";
$climacons-Moon-Full: "\e932";
$climacons-Moon-Last-Quarter: "\e933";
$climacons-Moon-New: "\e934";
$climacons-Moon-Waning-Crescent: "\e935";
$climacons-Moon-Waning-Gibbous: "\e936";
$climacons-Moon-Waxing-Crescent: "\e937";
$climacons-Moon-Waxing-Gibbous: "\e938";
$climacons-Moon: "\e939";
$climacons-Shades: "\e93a";
$climacons-Snowflake: "\e93b";
$climacons-Sun-Low: "\e93c";
$climacons-Sun-Lower: "\e93d";
$climacons-Sun: "\e93e";
$climacons-Sunrise: "\e93f";
$climacons-Sunset: "\e940";
$climacons-Thermometer-25: "\e941";
$climacons-Thermometer-50: "\e942";
$climacons-Thermometer-75: "\e943";
$climacons-Thermometer-100: "\e944";
$climacons-Thermometer-Zero: "\e945";
$climacons-Thermometer: "\e946";
$climacons-Tornado: "\e947";
$climacons-Umbrella: "\e948";
$climacons-Wind: "\e949";

